@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Quicksand:wght@300;500;700&family=Raleway:wght@300;500&family=Voces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Voces&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn;
}

